<div class="py-[0.625rem] px-6 bg-purple left-0 right-0 flex gap-[0.875rem] text-white justify-center items-center text-center">
  <div class="hidden lg:block">{% render 'icon-truck' %}</div>
  <p class="text-xs lg:text-base font-heading lg:font-heading-bold max-w-60 md:max-w-none">{{ text }}</p>
  <div class="hidden lg:block">{% render 'icon-truck' %}</div>
</div>