{% assign settings = section.settings %}


<div class="py-10 lg:py-20 px-4 md:px-0 bg-[#f4f3f1]">
  <div class="site-container">
    <div class="grid content-start gap-5 md:grid-cols-2 lg:grid-cols-4">
      {% for block in section.blocks %}
        {% if block.type == "product" %}
          {% render 'product-item'
            , product: block.settings.product %}
        {% endif %}
      {% endfor %}
    </div>
    {% unless settings.button_text == blank or settings.button_url == blank %}
      {% render 'button'
        , button_text: settings.button_text
        , button_url: settings.button_url
        , button_class: 'grass'
        , custom_class: 'mx-auto' %}
    {% endunless %}
  </div>
</div>

{% schema %}
  {
    "name": "Easy Entries",
    "tag": "section",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "text",
        "id": "description",
        "label": "Descripción"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Texto del botón",
        "info": "Texto que se mostrará en el botón de la sección, si no se especifica junto al link, no se mostrará el botón"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Línk del botón",
        "info": "URL a la que se dirigirá el botón"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Producto",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Producto"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Easy Entries",
        "settings": {
          "title": "<p>Explorá algunos de nuestros <em>productos</em></p>",
          "description": "Un vistazo nunca viene mal.",
          "button_text": "Todos los productos",
          "button_url": "shopify://collections"
        },
        "blocks": [
          {
            "type": "product",
            "settings": {
              "product": "cuadro-abstracto"
            }
          },
          {
            "type": "product",
            "settings": {
              "product": "set-de-bano"
            }
          },
          {
            "type": "product",
            "settings": {
              "product": "plato-principal-coral"
            }
          },
          {
            "type": "product",
            "settings": {
              "product": "floreros-blancos"
            }
          }, {
            "type": "product",
            "settings": {
              "product": "plato-postre-coral"
            }
          }
        ]
      }
    ]
  }
{% endschema %}