{% assign settings = section.settings %}

{% liquid
  case settings.color_scheme
    when 'cloud'
      assign background_color = '#ffffff'
      assign text_color = '#000000'
      assign button_color = 'grass'
    when 'chocolate'
      assign background_color = '#BCAB99'
      assign text_color = '#FFFFFF'
      assign button_color = 'cloud'
    when 'grass'
      assign background_color = '#BBBEA9'
      assign text_color = '#FFFFFF'
      assign button_color = 'chocolate'
    when 'orange'
      assign background_color = '#E2BD92'
      assign text_color = '#FFFFFF'
      assign button_color = 'chocolate'
  endcase
%}


<div class="py-10 lg:py-20" style="background: {{ background_color }}; color: {{ text_color }};">
  <div class="grid content-start lg:grid-cols-2 gap-16 site-container">
    <div class="{% if settings.content_position == true %} order-1 lg:order-1 {% else %} order-2 lg:order-2 {% endif %} grid gap-5 {% if settings.content_alignment == "top" %} content-start {% elsif settings.content_alignment == "middle" %} content-center {% else %} content-end {% endif %}">
      <h2 class="h2">{{ settings.title }}</h2>
      {% unless settings.description == blank %}
        <div class="text-sm lg:text-lg">{{ settings.description }}</div>
      {% endunless %}
      {% unless settings.button_text == blank or settings.button_url == blank %}
        {% render 'button'
          , button_class: button_color
          , button_text: settings.button_text
          , button_url: settings.button_url %}
      {% endunless %}
    </div>
    {% if settings.image != blank %}
      <div class="relative pt-[100%] md:pt-[70%] lg:pt-[100%] {% if settings.content_position == true %} order-2 lg:order-2 {% else %} order-1 lg:order-1 {% endif %}">
        {% render 'media-component'
          , desktop_image: settings.image
          , mobile_image: settings.image %}
      </div>
    {% elsif settings.video != blank %}
      <div class="relative pt-[100%] md:pt-[70%] lg:pt-[100%] {% if settings.content_position == true %} order-2 lg:order-2 {% else %} order-1 lg:order-1 {% endif %}">
        {% render 'media-component'
          , video_desktop: settings.video
          , video_mobile: settings.video %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Fifty Fifty",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Contenido"
      },
      {
        "type": "select",
        "id": "color_scheme",
        "label": "Esquema de color",
        "options": [
          {
            "value": "cloud",
            "label": "Nube"
          }, {
            "value": "chocolate",
            "label": "Chocolate"
          }, {
            "value": "grass",
            "label": "Hierba"
          }, {
            "value": "orange",
            "label": "Naranja"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "content_position",
        "label": "Contenido a la izquierda"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Posición del contenido",
        "options": [
          {
            "value": "top",
            "label": "Arriba"
          }, {
            "value": "bottom",
            "label": "Abajo"
          }, {
            "value": "middle",
            "label": "Centro"
          }
        ]
      }, {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "richtext",
        "id": "description",
        "label": "Descripción"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Texto del botón"
      }, {
        "type": "url",
        "id": "button_url",
        "label": "Línk del botón"
      }, {
        "type": "header",
        "content": "Contenido Multimedia"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      }, {
        "type": "video",
        "id": "video",
        "label": "Video"
      }
    ],
    "presets": [
      {
        "name": "Fifty Fifty",
        "settings": {
          "color_scheme": "cloud",
          "content_position": false,
          "content_alignment": "middle",
          "title": "<p>About Van Life</p>",
          "description": "<p>Vanlife US is ran by a small team located across the US. There's nothing more freeing than being out on the road and that's why we want to give someone the chance to win a restored  1978 Volkswagen Westfalia Camper Van. And to add some sugar... $20k cash to enjoy her.</p><p></p><p>We also deeply care about the environment, especially with what's happening in the world at the moment. That's why a portion of all sales goes to support Conservation Northwest. Read more about what they're doing below.</p><p></p><p>If you wanna say hi, chuck us a message on socials! </p><p></p><p>Goodluck! - Mak and the Vanlife team</p>",
          "button_text": "Check more",
          "button_url": "#",
          "image": "shopify://shop_images/IMG_8104.webp"
        }
      }
    ]
  }
{% endschema %}